<!doctype html>
<html lang="en">
  <head>
    <%= render 'shared/ui/head' %>
  </head>

  <body>
    <%= render 'shared/ui/header' %>
    <%= render 'shared/components/flashes' %>

    <%= yield %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>

